<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/head_fragment :: ref"></div>
</head>
<body>
<div id="wrapper">
    <header th:insert="fragments/header_fragment :: header"></header>

    <div class="page-title lb single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2><i class="fa fa-gears bg-orange"></i> Gadgets <small class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small></h2>
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Category</a></li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-grid-system">
                            <div class="row">

                                <th:block th:each="post : ${listPosts}">
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a th:href="@{'/post/' + ${post.id}}" title="">
                                                    <img th:src="@{${post.getImagePath}}" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-orange"><a title="">[[${post.category.title}]]</a></span>
                                                <h4><a th:href="@{'/post/' + ${post.id}}" title="">[[${post.title}]]</a></h4>
<!--                                                <p>[[${post.content}]]</p>-->
                                                <small><a th:href="@{'/post/' + ${post.id}}" title="">[[${post.created_at}]]</a></small>
                                                <small><a href="tech-author.html" title="">[[${post.user_id}]]</a></small>
<!--                                                <small><a th:href="@{'/post/' + ${post.id}}" title=""><i class="fa fa-eye"></i>-->
<!--                                                    2887</a></small>-->
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                </th:block>
                            </div><!-- end row -->
                        </div><!-- end blog-grid-system -->
                    </div><!-- end page-wrapper -->

                    <hr class="invis3">

                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->
            </div>
        </div>
    </section>

    <div th:insert="fragments/dmtop :: dmtop"></div>
    <footer th:insert="fragments/footer_fragment :: footer"></footer>
</div>
</body>
</html>