<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:fragment = "ref">
        <title>[[${pageTitle}]]</title>
        <meta charset="UTF-8" />
        <!-- template's css -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Site Metas -->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Site Icons -->
        <link rel="shortcut icon" th:href="@{/images/sq.png}" type="image/x-icon" />
        <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">

        <!-- Design fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">

        <!-- FontAwesome Icons core CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">

        <!-- Custom styles for this template -->
        <!-- <link href="style.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>

        <!-- Responsive styles for this template -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">

        <!-- Colors for this template -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/colors.css}">

        <!-- Version Tech CSS for this template -->
        <link th:href="@{/css/version/tech.css}" rel="stylesheet" type="text/css">
        <!-- End of template's css -->
        <!-- Other javascript, css source files -->
        <!-- Core JavaScript -->
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/tether.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/custom.js}"></script>
        <script type="text/javascript" th:src="@{/js/ckeditor/ckeditor.js}"></script>
    </div>
</head>
<body>

</body>
</html>